.players {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-nav {
    /* border: 2px solid #104F55; */
    padding-left: 10px;
    padding-right: 10px;
    /* min-width: 700px; */
    /* max-width: 1302px; */
    /* width: 90%; */
    width: 900px;
    /* overflow-x: hidden; */
    position: relative;
    /* background-color: #32746D; */
    border-radius: 5px;
}

.players-nav:hover {
    /* transform: translate(-100%);
    transition-timing-function: ease-in-out;
    transition-duration: 3s; */
}

.player-nav-scroll {
    display: flex;
    flex-direction: row;
}

.left-scroll {
    position: absolute;
    top: 55px;
    left: 5px;
    z-index: 8;
}

.right-scroll {
    position: absolute;
    top: 55px;
    right: 5px;
    z-index: 8;
}

/* .scroll-direction-1 {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
} */

/* .scroll-direction-2 {
    transform: translate(-62.6%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
} */

/* .scroll-direction-3 {
    transform: translate(-137.7%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
} */

/* .scroll-direction-4 {
    transform: translate(-180%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
} */

.players-on-nav {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    background-color: #A7E8BD;
    padding: 3px;
    height: 850px;
    width: 650px;
    transition: transform .2s;
    border-radius: 3px;
}

.players-on-nav:hover {
    transform: scale(1.03);
    background-color: #C7EAE4;
}

.players-on-nav-link {
    position: absolute;
}

.players-on-nav-link a:link {
    text-decoration: none;
    text-align: center;
}

.players-on-nav img {
    border: 2px solid #104F55;
    height: 550px;
}

.players-on-nav img:hover {
    opacity: 80%;
}

.players-on-nav div {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #32746D;
    opacity: 90%;
    background: rgb(85,220,255);
    background: linear-gradient(90deg, rgba(85,220,255,1) 0%, rgba(35,255,204,1) 50%, rgba(0,212,255,1) 100%);
    text-shadow: 0px 0px 2px #0000005a;
    font-size: 100px;
}