.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.navbar-link {
    padding: 3px;
    border: 2px solid green;
    transition: transform .2s;
}

.navbar-link:hover {
    transform: scale(1.07);
}

.navbar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-buttons li {
    width: 261px;
    text-align: center;
}

.top-logo {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}