.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.navbar-link {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    background-color: #A7E8BD;
    padding: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    margin: 5px;
    transition: transform .2s;
}

.navbar-link:hover {
    transform: scale(1.07);
    background-color: #C7EAE4;
}

.navbar-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-buttons li {
    width: 250px;
    text-align: center;
}

.top-logo {
    display: flex;
    justify-content: space-around;
    background-color: #A7E8BD;
}