.players-nav {
    border: 2px solid #104F55;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 90vw;
    /* margin: auto; */
    overflow-x: hidden;
    position: relative;
    background-color: #32746D;
    border-radius: 5px;
}

.players-nav:hover {
    /* transform: translate(-100%);
    transition-timing-function: ease-in-out;
    transition-duration: 3s; */
}

.player-nav-scroll {
    display: flex;
    flex-direction: row;
}

.left-scroll {
    position: absolute;
    top: 55px;
    left: 5px;
    z-index: 8;
}

.right-scroll {
    position: absolute;
    top: 55px;
    right: 5px;
    z-index: 8;
}

.scroll-direction-1 {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.scroll-direction-2 {
    transform: translate(-55.7%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.scroll-direction-3 {
    transform: translate(-111%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

/* .scroll-direction-4 {
    transform: translate(-111%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
} */

.players-on-nav {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
    background-color: #A7E8BD;
    padding: 3px;
    transition: transform .2s;
    border-radius: 3px;
}

.players-on-nav:hover {
    transform: scale(1.1);
    background-color: #C7EAE4;
}

.players-on-nav img:hover {
    opacity: 80%;
}