.players-nav {
    border: 2px solid rgb(0, 87, 128);
    padding-left: 10px;
    padding-right: 10px;
    max-width: 90vw;
    /* margin: auto; */
    overflow-x: hidden;
    position: relative;
}

.players-nav:hover {
    /* transform: translate(-100%);
    transition-timing-function: ease-in-out;
    transition-duration: 3s; */
}

.player-nav-scroll {
    display: flex;
    flex-direction: row;
}

.left-scroll {
    position: absolute;
    top: 55px;
    left: 5px;
    z-index: 8;
}

.right-scroll {
    position: absolute;
    top: 55px;
    right: 5px;
    z-index: 8;
}

.scroll-direction-1 {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.scroll-direction-2 {
    transform: translate(-55.7%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.scroll-direction-3 {
    transform: translate(-111%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

/* .scroll-direction-4 {
    transform: translate(-111%);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
} */

.players-on-nav {
    border: 2px solid green;
    padding: 3px;
    transition: transform .2s;
}

.players-on-nav:hover {
    transform: scale(1.1);
}