.results-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.results-list span {
    padding-left: 10px;
}

.player-name {
    font-weight: bold;
}

.player-info {
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
}